.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 20px;
    line-height: 15px;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65),rgba(0,0,0,0.38)), url("schoo.jpg");
    height: 100vh;
    background-size:cover;
    background-position:center ;
}
ul li{ color: #fff;
    font-size: 20px;
    line-height: 15px;

}